# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
.env
chatbotdemos/venv/
chatbotdemos/venv
# dependencies
node_modules/
/mindstorm-app/FastAPI/mindstorm-journal-firebase-adminsdk-fv5xt-9d33c9c77f.json
mindstorm-app/FastAPI/mindstorm-journal-firebase-adminsdk-fv5xt-9d33c9c77f.json
# Expo
.expo/
dist/
web-build/
mindstorm-app/FastAPI/.env
mindstorm-app/FastAPI/venv/
venv/
venv
# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
.DS_Store
